@model User
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<table class="table-bordered">
    <tr>
        <td><label asp-for="UserId"></label></td>
        <td>@Model.UserId</td>
    </tr>
    <tr>
        <td><label asp-for="UserName"></label></td>
        <td>@Model.UserName</td>
    </tr>
    <tr>
        <td><label asp-for="Address"></label></td>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <td><label asp-for="Email"></label></td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td><label asp-for="Gender"></label></td>
        <td>@Model.Gender</td>
    </tr>
    <tr>
        <td><label asp-for="IsActive"></label></td>
        <td>@Model.IsActive</td>
    </tr>
</table>


